/*estilos footer*/

.colorFooter{
    background-color: $color-gris;       
    .contenedorRedes{
        display: flex;
        justify-content: space-between;
        
    }
}
.contenedorRedesA{
    @include contenedor(black,30px,5px);
}